@model WS02._1.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_paciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_doutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_doutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_quarto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quarto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
